body {
    margin: 0;
    padding: 0;
    width: 100%;
    font-size: 16px;
    background-color: blue;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.calculator-grid {
    background-color: white;
    margin: 100px auto;
    border: 3px solid green;
    max-width: 400px;
    padding: 2px;
}

#display {
    background-color: purple;
    max-height: 200px;
    min-height: 150px;
    padding: 20px 8px;
    margin: 5px auto;
    max-width: 390px;
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: space-between;
}

#display > div {
    margin-right: 20px;
}

#prev-display {
    font-size: 1.5em;
}

#current-display {
    font-size: 2em;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: repeat(5, 100px);
    justify-items: center;
    align-items: center;
    font-size: 2em;
}

.buttons > button {
    cursor: pointer;
    border: 2px solid green;
    text-align: center;
    width: 100px;
    height: 100px;
}

.buttons > button:hover {
    background-color: pink;
}

@media screen and (max-width: 500px) {
    .calculator-grid {
        width: 320px;
    }

    .buttons {
        display: grid;
        grid-template-columns: repeat(4, 80px);
        grid-template-rows: repeat(5, 80px);
    }

    .buttons > button {
        width: 80px;
        height: 80px;    
    } 
}

@media screen and (max-width: 390px) {
    .calculator-grid {
        width: 280px;
    }

    .buttons {
        display: grid;
        grid-template-columns: repeat(4, 70px);
        grid-template-rows: repeat(5, 70px);
    }

    .buttons > button {
        width: 70px;
        height: 70px;    
    } 
}